version: "3"

services:
  app:
    build:
      context: .
      dockerfile: ./php-fpm/Dockerfile
      args:
        PHP_VERSION: ${PHP_VERSION}
        NODE_VERSION: ${NODE_VERSION}
    environment:
      APP_NAME: ${APP_NAME}
    entrypoint: ["/usr/local/bin/dev.sh"]
    ports:
      - "8000:8000"
      - "5173:5173"
    volumes:
      - ./:/var/www
      - ./php-fpm/vite.config.ts:/var/www/vite.config.ts
    depends_on:
      db:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "php-fpm-healthcheck"]
      interval: 10s
      timeout: 5s
      retries: 5

  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: laravel_db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  db_data: